body{
  display: grid;
  margin: 0;
  padding: 0 ;
  background: silver; 
  color: black; 
  grid-template-columns: 1fr ;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas: "first_part" 
      "middle_part" "middle_part"
      "footer"  ;
  width: 97%;
  font-size: 26px;
 min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

* {
box-sizing: border-box;
}

.first_part{
  grid-area: first_part;
  background: silver url(https://image.freepik.com/free-photo/no-translate-detected_1220-3310.jpg);
  display: flex;
  font-size: 1.5em;
  padding:0;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  flex-direction: column;
  align-items: stretch; 
  border-block-end:1px #b2b2b2 dashed;
}

.top_img{
  justify-content: flex-start;
  align-items: stretch; 
  marging: 0;
  padding: 0 35px 15px ;
  text-align: left;
}

.menu{
  justify-content: flex-start;
  align-items: stretch; 
  marging: 0;
  padding: 0 35px;
  text-align: left;
}

.footer{
  grid-area: footer;
  background: silver url(https://image.freepik.com/free-vector/no-translate-detected_1017-16340.jpg);
  height:80px;
  border-top:1px #b2b2b2 dashed;
}

.footer_left{
float:left;
padding:0 15px;
}

.menu-footer{
  float:right;
  padding:0 15px;
}

.footer a{
  text-decoration:none;
  padding:0 5px 0 5px;
  color: #666699;
  font-size: 16px;
}

.menu{
  width:700px;
  height:40px;
  margin:55px 0 0 35px;
  background: silver url(https://image.freepik.com/free-vector/no-translate-detected_1017-16340.jpg);
  
}

.menu ul{
  display:block;
  list-style:none;
  padding:0 10px;
  margin:0px;
}
.menu ul li{
  display:inline;
  padding:0px;
  margin:0px;
}
.menu ul li a{
  height:30px;
  display:block;
  padding:0px 15px;
  margin:0;
  float:left;
  text-decoration:none;
  text-align:center;
  color:#666699;
/*  color:#fff;*/
  font-size:12px;
  line-height:30px;
}
.menu ul li a:hover{
/*  background:url(https://www.free-css.com/assets/files/free-css-templates/preview/page92/flower-shop/images/logo.gif); */
  background:red;
  border-radius: 5px;
  color:#fff;
}

.middle_part{
  grid-area: middle_part;
  background: white; 
  flex-direction: column;
  align-items: stretch; 
   height:auto;
}

/*Middle left part*/
.middle_part .left_middle-part{
 
  width:60%;
  background: linear-gradient(65deg, #fff, #fff2e6);
  border-right:1px #b2b2b2 dashed;
  float:left;
  padding:10px 20px;
  font-size: 1.2em;
  display: flex;

  flex-direction:column;
  justify-content: space-between;
}

.middle_part .right_middle-part{
  width:40%;
  float:left;
  padding:10px 20px;
  font-size: 0.8em;

 /*background: #f0f0f5;*/
}

.title_middle{
  color:red;
  padding:0px;
  float:left;
  font-size:20px;
  margin:30px 0 0 0;
}
.title_icon{
  float:left;
  padding:0;
}
.part_with_prod {
  border-left: 1px solid #e0e0eb;
  padding: 20px 10px;
  marging: 10px;
  box-shadow: 1px 1px 8px 1px #e0e0eb;
   /* width:80%;*/
  float:left;
  width:73%;
  height:auto;
 
}
.prod_title_middle{
  color:#ac3939;
  font-size: 18px;
}

.prod_text_middle{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 12px;
}
.more{
color:#ac3939;
float:right;
text-decoration:none;
font-size:11px;
padding:0px 15px 0 0 ;
}

.prod_img{
  float:left;
  padding:10px 20px 0 0;
  width:25%;
  height:30%;
}
.prod{
  padding:10px 0 5px 0;
  margin:20px 10px 0 0;
  clear:both;
}

.bottom-part{
  height:20px;
  border-block-end:1px #b2b2b2 dashed;
}

.new_prod {
  clear:both;
  padding:0;  
  margin:0px;
  display:flex;
  text-align:justify;
  justify-content: space-between;
  
}
.new_prod_part a{
  text-decoration:none;
  color:#666699;
  font-size: 18px;
  list-style:none;
  
}

.new_prod_part-img{

height:auto;
text-align:center;
position:relative;
  
}

img.product{
  padding:0;
}

.new_icon{
  position:absolute;
  top:0px;
  right:0;
  z-index:100;
  

}
.new_prod_part {

  text-align:center;
/*padding:30px;*/
}
.new_prod_part-img{
  border-radius: 15px;
  box-shadow: 1px 1px 8px 1px #e0e0eb; 
    border-left: 1px solid #e0e0eb;
  padding: 10px ;
  margin: 20px;
}

.new_part_with_prod {
  width:20%;
  float:left;
  height:auto;
}

/*Middle right part*/

.right_middle-part span{
  color:#c65353;
  font-size:17px;

}
.language{
    float:left;
 
}
.currency{
   float:right;

}
.currency a{
  text-decoration:none;
  color:#4d2600;
  border:1px #ecd9c6 solid;
  font-size:17px;
  
}
.currency a:hover{
  background:#ff9933;
   border:1px #663300 solid;
}

.language a{
  text-decoration:none;
  color:#5c5c8a;
  padding:2px;
  font-size:18px;
}
.language a:hover{
  background:#fff;
border:1px #e0e0eb solid;
}
/*Middle right part cart*/

.cart,
.cart div
{
  float:left;
  margin:10px 10px 5px 0;
  padding:0 0 2px 0;
  color:#c65353;
  font-size:15px;
  }
.right_middle-part .title_icon{
   float:left;
}

 .cart div.cart_content{
  color:#33334d;
}

.cart_content{
  float:left;
  padding:3px;
  color:#33334d;
  border:1px #eeedee solid;
  margin:10px 0 0 15px;
}
a.view_cart{
display:block;
 float:left;
margin:12px 0 0 10px;
color:#990000;
}

.middle_part .right_middle-part{
  float:left;
  padding:10px 20px;
  font-size: 1.2em;

}

/*--About--*/
.about{
  width:100%;
  clear:both;
  padding:0 20px 0 10px;
 }

 .about .title,
.right-part-box .title{
   color:#c65353;
   font-size:21px;
}
.about{
  font-size:0.8em;

}
img.right{
float:right;
padding:0 0 0 10px;
}
.bottom-part_right{
  height:10px;
  padding:0px;
  width:100%;
  border-block-end:5px double #b2b2b2  ;
  writing-mode: horizontal-tb;
}

 .bottom-part_right{
  height:10px;
  padding:8px;
  width:100%;
  border-block-end:5px double #b2b2b2  ;
  writing-mode: horizontal-tb;
}

.middle_part .right_middle-part{
  width:40%;
  float:left;
  padding:10px 20px;
  font-size: 0.8em;

 /*background: #f0f0f5;*/
}

/*right-part-box*/
img .about{
    padding:0;
  float:right;
}
.right-part-box{
  width:50%;
  float:left;
  padding:0;
  marging:0;  
}
.Promotions{
  width:200%;
}



 .Promotions .new_prod_part-img  {
    float:left;
   
}

.Promotions .new_part_with_prod{
  clear:both;
  padding:0;  
  margin:0px;
  text-align:center;
}
.thumb{
  width:80%
}
.Promotions .new_part_with_prod a {
  text-decoration:none;
  color:#666699;
  font-size: 13px;
  list-style:none;
  text-align:center;
}

.right-part-box .title {
  padding:15px 0 0 0 ;
  marging:0;
}

ul.list{
  clear:both;
  padding:10px 0 0 20px;
  margin:0px;
  font-size:14px;
}
ul.list li{
/*list-style:none;*/
  padding:2px 0 2px 0;
}
ul.list li a{
  list-style-type:circle ;
  text-decoration:none;
  color:#000000;
  padding:0 0 0 5px;
}

ul.list li a:hover{
  text-decoration:underline;
  color:#1a1aff;
}


  .middle_words{
 font-size: 0.5em;
 padding:0;
  }
}

/*Social footer*/
.footer-social{	
	display: inline;
	float: center;
	margin: 0px 0px;
	width: 100%;
}
.footer-social a {
	border: 1px solid #505050;
	border-radius: 50%;
	color: #b8b8b8;
	display: inline-block;
	font-size: 38px;
	height: 48px;
	line-height: 48px;
	margin: 0 10px  0 0;
	text-align: center;
	width: 48px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.footer-social a.facebook:hover{
	background-color: #3b5998;
	border-color: #3b5998;
	color: #fff;
  
}

.footer-social a.youtube:hover{
	color: #fff;
	background-color: #bb0000;
	border-color: #bb0000;
}
.footer-social a.linkedin:hover{
	color: #fff;
	background-color: #007bb5;
	border-color: #007bb5;
}
.footer-social a.instagram:hover{
	color: #fff;
	background-color: #ffcc99;
	border-color: #ffcc99;
}
.footer-bottom{
	display: inline;
	border-top: 1px solid #434343;
	float: center;
	padding: 0;
	width: 100%;
	text-align: center;
}



/*media*/

@media (max-width: 400px){
  .prod_img,
  .new_icon,
  .new_prod img,
  .new_prod_part-img,
  .Promotions .new_prod_part-img{
visibility: hidden;
  padding: 0 ;
  margin: 0;
  
  }
}
@media (max-width: 1150px){
  .new_part_with_prod,
 .new_prod_part-img img,
  .new_prod_part-img .new_icon ,
   .new_prod img,
  .right_middle-part,
  .right_middle-part .new_prod_part-img{
  padding: 0 ;
  margin: 0;
  text-align:left;
  justify-content: flex-start;
  
  }
 
}
@media (max-width: 1100px){
  .thumb,
   .product,
  {
    width:50%;
  }
  }
@media (max-width: 400px){
  .Promotions img,
  .new_part_with_prod a,
  .thumb,
  .new_icon,
  .product
  {
visibility: hidden;
  }
 
}
@media (max-width: 1550px){
 .thumb,
    .Promotions img,
  .product{
    width:90%;
  
  }
 
}
