body{
  display: grid;
  margin: 0;
  padding: 0 ;
  background: silver; 
  color: black; 
  grid-template-columns: 1fr ;
  grid-template-rows: min-content auto min-content;
  grid-template-areas: "first_part" 
      "middle_part" "middle_part"
      "footer"  ;
  width: 100%;
  font-size: 26px;
 min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

* {
box-sizing: border-box;
}

#popup-container{
  display:none;
  position:fixed;
  top:0;
  left:0;
  background-color:#0000006e;
  width:100%;
  height:100%;
  /*  opacity:0.5;*/
  /*display:flex;*/
  z-index:500;
  align-items: center;
  justify-content: center;
}

#popup{
  width:280px;
  height: 320px;
  background-color:#fff;
  position: relative;
}

#order_cart{
  position: absolute;
  bottom:10px; right:110px;
  border-radius:15px;
  outline: none;
}

#order_cart:hover{
  background-color:#e6e6ff;
  color:#001f4d;
}

.first_part{
  grid-area: first_part;
  /*background: silver url(https://image.freepik.com/free-photo/no-translate-detected_1220-3310.jpg);*/
  background: silver url(pic/fon.jpg);
	/*opacity:0.5;*/
  display: flex;
  font-size: 1.5em;
  padding:0;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  flex-direction: column;
  align-items: stretch; 
  border-block-end:1px #b2b2b2 dashed;
}

.top_img{
  justify-content: flex-start;
  align-items: stretch; 
  marging: 0;
  padding: 0 35px 15px ;
  text-align: left;
}

.menu{
  justify-content: flex-start;
  align-items: stretch; 
  marging: 0;
  padding: 0 35px;
  text-align: left;
}

.menu ul li.selected a{
  height:27px;
  display:block;
  padding:0px 10px 0 10px;
  margin:0 5px 0 5px;
  float:left;
  text-decoration:none;
  text-align:center;
  color:#fff;
  font-size:13px;
  line-height:27px;
 /* background:#ff0000;*/
  background: #990000;
   border-radius: 5px;
}



.footer{
  grid-area: footer;
 /* background: silver url(https://image.freepik.com/free-vector/no-translate-detected_1017-16340.jpg);*/
  background: silver url(pic/fon2.jpg);
  height:80px;
  border-top:1px #b2b2b2 dashed;
}

.footer_left{
float:left;
padding:0 15px;
}

.menu-footer{
  float:right;
  padding:0 15px;
}

.footer a{
  text-decoration:none;
  padding:0 5px 0 5px;
  color: #666699;
  font-size: 16px;
}

.menu{
  width:700px;
  height:40px;
  margin:55px 0 0 35px;
  /*background: silver url(https://image.freepik.com/free-vector/no-translate-detected_1017-16340.jpg);*/
  background: silver url(pic/fon2.jpg);	  
}

.menu ul{
  display:block;
  list-style:none;
  padding:0 10px;
  margin:0px;
}

.menu ul li{
  display:inline;
  padding:0px;
  margin:0px;
}

.menu ul li a{
  height:30px;
  display:block;
  padding:0px 15px;
  margin:0;
  float:left;
  text-decoration:none;
  text-align:center;
  color:#666699;
/*  color:#fff;*/
  font-size:12px;
  line-height:30px;
}

.menu ul li a:hover{
/*  background:url(https://www.free-css.com/assets/files/free-css-templates/preview/page92/flower-shop/images/logo.gif); */
  /*background:url(pic/menu_bg.jpg) no-repeat center;*/
  /*background:#ff0000;*/
  background: #e60000;	
  border-radius: 5px;
  color:#fff;
}

.middle_part{
  grid-area: middle_part;
  background: white; 
  display: flex;
  flex-direction: row;

}

/*Middle left part*/
.left_middle-part{
   width:60%;
  background: linear-gradient(65deg, #fff, #fff2e6);
  border-right:1px #b2b2b2 dashed;
  padding:10px 20px;
  font-size: 1.2em;
  display: flex;
  flex-direction:column;
  /* justify-content: space-between;*/
  justify-content:  stretch;
}
.left_middle-part_flower{

  background: linear-gradient(65deg, #fff, #fff2e6);
 /* border-right:1px #b2b2b2 dashed;*/
  padding:10px 20px;
  font-size: 1.2em;
  display: flex;
flex-direction:column;
  /* justify-content: space-between;*/
  justify-content:  stretch;
  
}
.new_part_with_prod_flower{
   
   
 /* border-right:1px #b2b2b2 dashed;*/
  padding:20px;
  margin:0px;
  font-size: 1.2em;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
 margin:0px;

  height:auto;
}
#flower-table {
  font-size: 15px;
  width: 100%;
  text-align: center;
}

#flower-table td {
  height:auto;
  padding:20px;
  margin:20px;
  border-bottom: 1px solid #e5e5e5;
}
  #flower-table tr{
  text-align: center;
}

.prod_img_flower{
	  float:left;
  padding:10px 20px 0 0;
  width:15%;
  font-size:12px;
  height:auto;
}
.right_middle-part{
  width:40%;
  padding:10px 20px;
  font-size: 0.8em;
  /*background: #f0f0f5;*/
}

.title_middle{
  color:#ff0000;
  padding:0px 0 0 30px;
  float:left;
  font-size:20px;
  margin:30px 0 0 0;
}

.middle_part_flower{
    grid-area: middle_part;
  background: white; 
  display: flex;
  width:60%;
  flex-direction: row;
  background: linear-gradient(65deg, #fff, #fff2e6);
  border-right:1px #b2b2b2 dashed;
  padding:10px 20px;
  font-size: 1.2em;
  display: flex;
  flex-direction:column;
  /* justify-content: space-between;*/
  justify-content:  stretch;
}
.title_middle_flower{
  color:#ff0000;
  padding: 30px;
  font-size:20px;
  margin:30px 0 0 0;
   
}
.title_icon{
  float:left;
  padding:0;
}

.part_with_prod {
  border-left: 1px solid #e0e0eb;
  padding: 20px 10px;
  marging: 10px;
  box-shadow: 1px 1px 8px 1px #e0e0eb;
   /* width:80%;*/
  float:left;
  width:73%;
  height:auto;
}

.prod_title_middle{
  color:#ac3939;
  font-size: 18px;
}

.prod_text_middle{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 12px;
}

.more{
color:#ac3939;
float:right;
text-decoration:none;
font-size:11px;
padding:0px 15px 0 0 ;
}

.prod_img{
  float:left;
  padding:10px 20px 0 0;
  width:25%;
  height:auto;
}

.prod{
  padding:10px 0 5px 0;
  margin:20px 10px 0 0;
  clear:both;
}

.bottom-part{
  height:20px;
  border-block-end:1px #b2b2b2 dashed;
}

.new_prod {
  clear:both;
  padding:0;  
  margin:0px;
  display:flex;
  text-align:center;
  justify-content: space-between;
}

.new_prod_part a{
  text-decoration:none;
  color:#666699;
  font-size: 18px;
  list-style:none;
}

.new_prod_part-img{
  height:auto;
  width:100%;
  text-align:center;
  position:relative;  
}

img.product{
  padding:0;
}

.new_icon{
  position:absolute;
  top:0px;
  right:0;
  z-index:100;
}

.new_prod_part {
  text-align:center;
  /*padding:30px;*/
}

.new_prod_part-img{
  border-radius: 15px;
  box-shadow: 1px 1px 8px 1px #e0e0eb; 
  border-left: 1px solid #e0e0eb;
  padding: 10px ;
  margin: 20px 0 0 0;
}

.new_part_with_prod {
  width:20%;
  float:left;
  height:auto;
}

/*Middle right part*/

.right_middle-part span{
  color:#c65353;
  font-size:17px;
}

.language{
    float:left;
}

.currency{
   float:right;
}

.currency a{
  text-decoration:none;
  color:#4d2600;
  border:1px #ecd9c6 solid;
  font-size:17px; 
}

.currency a:hover{
  background:#ff9933;
  border:1px #663300 solid;
}

.language a{
  text-decoration:none;
  color:#5c5c8a;
  padding:2px;
  font-size:18px;
}

.language a:hover{
  background:#fff;
  border:1px #e0e0eb solid;
}

/*Middle right part cart*/

.cart,
.cart div
{
  float:left;
  margin:10px 10px 5px 0;
  padding:0 0 2px 0;
  color:#c65353;
  font-size:15px;
  }

.right_middle-part .title_icon{
   float:left;
}

 .cart div.cart_content{
  color:#33334d;
}

.cart_content{
  float:left;
  padding:3px;
  color:#33334d;
  border:1px #eeedee solid;
  margin:10px 0 0 15px;
}

 a.view_cart{
 display:block;
 float:left;
 margin:12px 0 0 10px;
 color:#990000;
}

.middle_part .right_middle-part{
  float:left;
  padding:10px 20px;
  font-size: 1.2em;
}

/*--About--*/
.about{
  width:100%;
  clear:both;
  padding:0 20px 0 10px;
 }

.about .title,
.about a,
.right-part-box .title{
   color:#c65353;
   font-size:21px;
}

.about a{
  font-size:0.8em;
  text-decoration:none;
  list-style:none;
}

.about_box_right{
  padding:0;
  marging:0; 
}

img.right{
float:right;
width:110px;
padding:0 0 20px 10px;
}

.bottom-part_right{
  height:10px;
  padding: 10px 0 15px 0;
  width:100%;
  border-block-end:5px double #b2b2b2  ;
  writing-mode: horizontal-tb;
}

 .bottom-part_right{
  height:10px;
  padding:8px;
  width:100%;
  border-block-end:5px double #b2b2b2  ;
  writing-mode: horizontal-tb;
}

.middle_part .right_middle-part{
  width:40%;
  float:left;
  padding:10px 20px;
  font-size: 0.8em;
 /*background: #f0f0f5;*/
}

.about p{
  font-size:14px;
}

/*right-part-box*/
img .about{
  padding:0;
  float:right;
}
.right-part-box{
  width:50%;
  float:left;
  padding:0;
  marging:0;  
}

.Promotions{
  width:200%;
}

/*Page about*/
#div_about {
 display: inline-block;
 text-align: center; 
 margin: 30px;  
}

#p_about {
  text-indent: 40px; /* Отступ первой строки */
  text-align: justify; /* Выравнивание по ширине */
  font-family: "PT Sans", Arial, Helvetica, sans-serifbody;
  font-size: 12pt; /* Размер шрифта  */
  margin:0;
  padding:0;
}

/*end page about*/

 .Promotions .new_prod_part-img{
    float:left; 
}

.Promotions .new_part_with_prod{
  clear:both;
  padding:0;  
  margin:0px;
  text-align:center;
}

img.thumb{
  width:100%;
}

.Promotions .new_part_with_prod a{
  text-decoration:none;
  color:#666699;
  font-size: 13px;
  list-style:none;
  text-align:center;
}

.right-part-box .title{
  padding:15px 0 0 0 ;
  marging:0;
}

ul.list{
  clear:both;
  padding:10px 0 0 20px;
  margin:0px;
  font-size:14px;
}

ul.list li{
/*list-style:none;*/
  padding:2px 0 2px 0;
}

ul.list li a{
  list-style-type:circle ;
  text-decoration:none;
  color:#000000;
  padding:0 0 0 5px;
}

ul.list li a:hover{
  text-decoration:underline;
  color:#1a1aff;
}

.middle_words{
 font-size: 0.5em;
 padding:0;
 /* }*/
}

/*Social footer*/
.footer-social{	
	display: inline;
	float: right;
	width: 100%;
}

.footer-social a{
	border: 1px solid #505050;
	border-radius: 50%;
	color: #b8b8b8;
	display: inline-block;
	font-size: 28px;
	height: 48px;
	 line-height: 48px;
	/*line-height: 0px;*/
	margin: 0 10px  0 0;
	text-align: center;
	width: 48px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.footer-social a.facebook:hover{
	background-color: #3b5998;
	border-color: #3b5998;
	color: #fff;
}

.footer-social a.youtube:hover{
	color: #fff;
	background-color: #bb0000;
	border-color: #bb0000;
}

.footer-social a.linkedin:hover{
	color: #fff;
	background-color: #007bb5;
	border-color: #007bb5;
}

.footer-social a.instagram:hover{
	color: #fff;
	background-color: #ffcc99;
	border-color: #ffcc99;
}

.footer-bottom{
	display: inline;
	border-top: 1px solid #434343;
	/*float: right;*/
	padding: 0;
	width: 100%;
	/*text-align: right;*/
}

.footer-social .fa{
  line-height: 48px;
}

/*contact_form*/
.contact_form{
  width:350px;
  float:left;
  padding:15px;
  margin:20px 0 0 35px;
  border:1px #DFD1D2 dashed;
  position:relative;
}

.form_row{
  width:250px;
  clear:both;
  padding:10px 0 10px 0;
  color:#a53d17;
}

label.contact{
  width:20px;
  float:left;
  font-size:13px;
  text-align:right;
  padding:4px 5px 0 0;
  color: #333333;
}

.contact_input{
  width:300px;
  height:25px;
  background-color:#fff;
  color:#999999;
  border:1px #DFDFDF solid;
  float:left;
}

input.register{
  width:90px;
  height:30px;
  border:none;
  cursor:pointer;
  text-align:center;
  float:right;
  color:#fff;
  background-color:#993333;
  border-radius:15px;
  background:url(pic/register_bt.gif) no-repeat center;
  outline : none;
}

.terms{
  padding:0px;
  font-size:15px;
}

.form_subtitle{
  position:absolute;
  top:-11px;
  left:7px;
  width:auto;
  height:20px;
  background-color:#990000;
  text-align:center;
  padding:0 7px 0 7px;
  color:#FFFFFF;
  font-size:11px;
  line-height:20px;	
}

.checkbox_terms{
  font-size:15px;
  color:#a53d17;
}

textarea.contact_textarea{
  width:253px;
  height:120px;
  font-family:"Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size:12px;
  color: #999999;
  background-color:#fff;
  border:1px #DFDFDF solid;
  float:left;
}

a.contact{
  width:53px;
  height:24px;
  display:block;
  float:right;
  margin:0 0 0 10px;
  text-decoration:none;
  text-align:center;
  line-height:24px;
  color:#fff;
  background:url(pic/contact_bt.gif) no-repeat center;
  font-size: 15px;
}

/**/
.prod_det_box{
  float:left;
  border-left: 1px solid #e0e0eb;
  padding: 20px 10px;
  marging: 10px;
  box-shadow: 1px 1px 8px 1px #e0e0eb;
   /* width:80%;*/
  border-radius:15px;
  float:left;
  width:73%;
  height:auto;
 /* padding: 10px ;
  margin: 20px;*/
position:relative;
  

}



.special_icon{
position:absolute;
top:0px;
_top:6px;
right:2px;
z-index:250;
  font-size:15px;
}

.new_prod_flower{
  clear:both;
  padding:20px;  
  margin:20px;
  display:flex;
  text-align:center;
  justify-content: center;
}

#all_products{
  padding:15px;
  margin:15px;
}
/*Scroll*/


.pager__info{
    visibility: hidden;
}
.pager__controls
{
    display: flex;
    align-items: center;
  justify-content:center;
  padding:40px 0 0 20px;
  font-size:17px;
}

.pager__prev,
.pager__next
{
    font-size: 14px;
    color: #ccc;
    text-decoration: none;
}

.pager__prev[href],
.pager__next[href]
{
    color: #333;
}

.pager__prev[href]:hover,
.pager__next[href]:hover
{
    color: #800000;
}

.pager__list
{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 .6em;
    padding: 0;
}

.pager__list-item:not(:first-child)
{
    margin-left: 10px;
}

.pager__page
{
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px;
    min-width: 30px;
    text-align: center;
}

.pager__page:hover,
.pager__page--current
{
  box-shadow: 2px 2px 10px 0 #000;
  background: #800000;
  color: #fff;
  border-radius:15px;
}
.hidden
{
  display: none;
}

/*media*/


@media (max-width: 400px){
  .prod_img,
  .new_icon,
  .new_prod img,
  .new_prod_part-img,
  .Promotions .new_prod_part-img{
 /* visibility: hidden;*/
  width:60px;
  padding: 0 ;
  margin: 0;
  }
  .prod_img_flower{
  padding: 0 ;
  margin: 0;
  width:60px;  
  }
}

@media (max-width: 1150px){
  .new_part_with_prod,
  .new_prod_part-img img,
  .new_prod_part-img .new_icon ,
  .new_prod img,
  .right_middle-part,
  .right_middle-part .new_prod_part-img{
  padding: 0 ;
  margin: 0;
  text-align:left;
  justify-content: flex-start; 
  }
 
  .language a,
  .language span{
  font-size:0.5em;
   }
	
  .currency a,
  .currency span{
  font-size:0.5em;
  }
	
  .cart,
  .cart div,
  .cart_content,
  .cart_content span{
    font-size:0.75em;
  }
	
  .view_cart{
    font-size:0.6em;
  }
	
  .about .title,
  .right-part-box .title{
  font-size:16px;
  }
	
  .about{
    font-size:13px;
  }
}

@media (max-width: 400px){
  .Promotions img,
  .new_part_with_prod a,
  .thumb,
  .new_icon,
  .product{
   /*visibility: hidden;*/
   width:40px;
 }
}

@media (max-width: 1550px){
  .product,
  .new_prod_part-img img{
  width:100%;
  padding: 0 ;
  margin: 0;
  text-align:left;
   justify-content: space-between;
  }
  
  .new_prod_part-img img{
  width:50%;
  }
	
  .thumb{
  width:50px;
  padding: 0 ;
  margin: 0; 
  }
}
